@media only screen and (max-width: 1100px){
	#side-header, .side-header-background{
		background-color:#ed174f !important;
	}
	
}
.fusion-mobile-menu-icons{
   margin-top:0px !important;
}
.fusion-mobile-menu-icons a{
	color:#FFF !important;
}

#set_position_on_owl_sponsors .fusion-nav-prev{
   left:7px !important;
}
#set_position_on_owl_sponsors .fusion-nav-next{
   right:7px !important;
}

#set_position_on_owl_buttons .fusion-nav-prev{
  left:7px !important;
}
#set_position_on_owl_buttons .fusion-nav-next{
  right:7px !important;
}
@media (max-width: 414px){
	.our-team-carousel .fusion-carousel-overlay {
		text-align:justify !important;
		padding-left:20px !important;
		padding-right:50px !important;
	}
	.post-content .banners {
		 display: block !important; 
	}

	.home .set_different_color_for_right_triangle_2{
	    width:100% !important;
	}
	.occupation_position_ahead{
	   margin-bottom:15px !important;
	   text-align:center !important;
	}
	.shaped-heading span{
	   width:100% !important;
	}
	.our-team-carousel .fusion-carousel-overlay .otc-social, .our-team-carousel .fusion-carousel-overlay .otc-social:hover{
	   background-color:#2e4778 !important;
	   color:#FFF !important;
	}
	.our-team-carousel .otc-social:before{
	   color:#FFF !important;
	}
	.overlay-cards .fusion-carousel-thumbnail-image{
	   background-size: contain !important;
	}
	.set_different_color_for_right_triangle .set_bg_for_item img{
	   object-fit: contain !important;
	}
	.set_different_color_for_right_triangle .m_name_of_person p{
	    text-align:center !important;
	}

	.include_search_on_list_categories_top{
	    max-width:240px !important;
	}
	.m_events_in_future{
	   width:100% !important;
	}

	.fusion-page-title-captions{
		 width:100% !important;
	}
	.marketingbanner{
		height: auto !important;
		text-align: justify !important;
		padding: 20px !important;
	}

	.single-tribe_events .sidebar{
	   width:100% !important;
	}
	#tribe-events-pg-template{
	  padding-left:0px !important;
	  padding-right:0px !important;
	}

	.tribe-events-style-full .tribe-events-tickets td, .tribe-events-tickets td{
	   display:table-row-group !important;
	}
}
.fusion-footer{
  margin-top:-50px !important;
}

@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  
   { 
   .textwidget{
     float:left ;
	 width:53% !important;
   }

   .set_different_color_for_right_triangle .set_bg_for_item img{
	   object-fit: contain !important;
	}
	.set_different_color_for_right_triangle .m_name_of_person p{
	    text-align:center !important;
	}

	.occupation_position_ahead{
	   margin-bottom:15px !important;
	   text-align:center !important;
	}
	.shaped-heading span{
	   width:100% !important;
	}

	.our-team-carousel .fusion-carousel-overlay .otc-social, .our-team-carousel .fusion-carousel-overlay .otc-social:hover{
	   background-color:#2e4778 !important;
	   color:#FFF !important;
	}
	.our-team-carousel .otc-social:before{
	   color:#FFF !important;
	}
	.overlay-cards .fusion-carousel-thumbnail-image{
	   background-size: contain !important;
	}
	.set_different_color_for_right_triangle .set_bg_for_item img{
	   object-fit: contain !important;
	}
	.set_different_color_for_right_triangle .m_name_of_person p{
	    text-align:center !important;
	}

	
	.m_events_in_future{
	   width:100% !important;
	}

	.fusion-page-title-captions{
		 width:100% !important;
	}
	.marketingbanner{
		height: auto !important;
		text-align: justify !important;
		padding: 20px !important;
	}

	.single-tribe_events .sidebar{
	   width:100% !important;
	}
	#tribe-events-pg-template{
	  padding-left:0px !important;
	  padding-right:0px !important;
	}

	.tribe-events-style-full .tribe-events-tickets td, .tribe-events-tickets td{
	   display:table-row-group !important;
	}

	.fusion-footer{
	   padding-left:0px !important;
	}

	body .newsletter .form-group{
	   max-width:50% !important;
	}

	.form-control{
	}

	.form-submit{
	  padding-top:10px !important;
	}
	.m_events_in_future .set_different_color_for_right_triangle_2{
	   width:100% !important;
	}

	.home .set_different_color_for_right_triangle_2{
	    width:100% !important;
	}

}